Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

# Allow PHP files to be executed
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

# Enable CORS for API
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
